<!DOCTYPE html>
<html lang="en" data-sidebar-color="light" data-topbar-color="light" data-sidebar-view="default">

<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        /* Override Bootstrap default padding */
        .no-gutters {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <app-navbar2 class="full-width-navbar"></app-navbar2>

    <div class="container-fluid">
        <div class="row no-gutters">
            <!-- Sidebar -->
            <div class="col-md-3 p-0" style="position: relative; right: 2%;">
                <app-sidebar></app-sidebar>
            </div>

            <!-- Main Content -->
            <div class="col-md-9" style="position: relative; right: 5%;">
                <div class="app-content">
                    <main class="p-6">

                        <div class="flex justify-between items-center mb-6">
                            <h4 class="text-slate-900 text-lg font-medium">Edit Brand</h4>
                            <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
                                <a href="#" class="text-sm font-medium text-slate-700">Lunoz</a>
                                <i class="bx bx-chevron-right text-lg flex-shrink-0 text-slate-400"></i>
                                <a href="#" class="text-sm font-medium text-slate-700">Menu</a>
                                <i class="bx bx-chevron-right text-lg flex-shrink-0 text-slate-400"></i>
                                <a href="#" class="text-sm font-medium text-slate-700" aria-current="page">Dashboard</a>
                            </div>
                        </div>

                        <div class="flex flex-col gap-6">
                            <div class="card">
                                <div class="p-6">

                                    <form (ngSubmit)="updateProduct()" #form="ngForm">
                                        <div class="grid lg:grid-cols-2 gap-6">

                                          

                                            <div>
                                                <label for="example-email" class="text-gray-800 text-sm font-medium inline-block mb-2">Image</label>
                                                <input required type="file" id="example-email" accept="image/*" (change)="onFileSelected($event)" name="image" class="form-input">
                                                <img [src]="imgUrl ? imgUrl : (brand && brand.imageUrl)" height="100" width="100" *ngIf="imgUrl || (brand && brand.imageUrl)">
                                            </div>

                                            <div>
                                                <label for="example-email" class="text-gray-800 text-sm font-medium inline-block mb-2">Brand name </label>
                                                <input required type="text" id="example-email" [(ngModel)]="brand.brandName" name="brandName" class="form-input" value="{{brand.brandName}}" placeholder="Libelle">
                                            </div>

                                            <div>
                                                <label for="example-password" class="text-gray-800 text-sm font-medium inline-block mb-2">Boycott reasons</label>
                                                <textarea required type="text" id="example-password" [(ngModel)]="brand.boycottReasons" class="form-input" name="boycottReasons" value="{{brand.boycottReasons}}" placeholder="description"></textarea>
                                            </div>

                                            <div>
                                                <label for="example-password" class="text-gray-800 text-sm font-medium inline-block mb-2">Brand description </label>
                                                <textarea required type="text" id="example-password" [(ngModel)]="brand.brandDescription" class="form-input" name="brandDescription" value="{{brand.brandDescription}}" placeholder="description"></textarea>
                                            </div>

                                           

                                           

                                            <br>
                                            <div>
                                                <button class="class-form btn-primary" id="example-number" type="submit" [disabled]="!form.valid">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
