<!DOCTYPE html>
<html lang="en" data-sidebar-color="light" data-topbar-color="light" data-sidebar-view="default">

<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        /* Override Bootstrap default padding */
        .no-gutters {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <app-navbar2 class="full-width-navbar"></app-navbar2>

    <div class="container-fluid">
        <div class="row no-gutters">
            <!-- Sidebar -->
            <div class="col-md-3 p-0" style="position: relative; right: 2%;">
                <app-sidebar></app-sidebar>
            </div>

            <!-- Main Content -->
            <div class="col-md-9" style="position: relative; right: 5%;">
                <div class="app-content">
                    <main class="p-6">

                        <div class="flex justify-between items-center mb-6">
                            <h4 class="text-slate-900 text-lg font-medium">Edit Product</h4>
                            <div class="md:flex hidden items-center gap-3 text-sm font-semibold">
                                <a href="#" class="text-sm font-medium text-slate-700">Lunoz</a>
                                <i class="bx bx-chevron-right text-lg flex-shrink-0 text-slate-400"></i>
                                <a href="#" class="text-sm font-medium text-slate-700">Menu</a>
                                <i class="bx bx-chevron-right text-lg flex-shrink-0 text-slate-400"></i>
                                <a href="#" class="text-sm font-medium text-slate-700" aria-current="page">Dashboard</a>
                            </div>
                        </div>

                        <div class="flex flex-col gap-6">
                            <div class="card">
                                <div class="p-6">

                                    <form (ngSubmit)="updateProduct()" #form="ngForm">
                                        <div class="grid lg:grid-cols-2 gap-6">

                                            <div class="wrapper">
                                                <label for="simpleinput" class="text-gray-800 text-sm font-medium inline-block mb-2">Code Bar
                                                    <button title="scanner" (click)="openModal()"> <i class="fa fa-camera"></i></button>
                                                </label>
                                                <input type="text" name="barcode" id="simpleinput" [(ngModel)]="prod.barcode" class="form-input" placeholder="barcode" required [value]="modalResult ? modalResult : prod.barcode" />

                                            </div>

                                            <div>
                                                <label for="example-email" class="text-gray-800 text-sm font-medium inline-block mb-2">Image</label>
                                                <input required type="file" id="example-email" accept="image/*" (change)="onFileSelected($event)" name="image" class="form-input">
                                                <img [src]="imgUrl ? imgUrl : (prod && prod.imageUrl)" height="100" width="100" *ngIf="imgUrl || (prod && prod.imageUrl)">
                                            </div>

                                            <div>
                                                <label for="example-email" class="text-gray-800 text-sm font-medium inline-block mb-2">Libelle </label>
                                                <input required type="text" id="example-email" [(ngModel)]="prod.libelle" name="libelle" class="form-input" value="{{prod.libelle}}" placeholder="Libelle">
                                            </div>

                                            

                                            <div>
                                                <label for="example-select" class="text-gray-800 text-sm font-medium inline-block mb-2">Status</label>
                                                <!-- Use *ngIf to ensure prod is not null or undefined -->
                                                <select class="form-select" name="alternative" required [(ngModel)]="prod.alternative" *ngIf="prod">
                                                    <option disabled>{{ prod.alternative }}</option>
                                                    <ng-container *ngIf="prod.alternative === 'Boycott'">
                                                        <option value="Alternative">Alternative</option>
                                                    </ng-container>
                                                    <option value="Boycott">Boycott</option>
                                                </select>
                                                

                                            </div>

                                            <div>
                                                <label for="example-select" class="text-gray-800 text-sm font-medium inline-block mb-2">Brands</label>
                                                <select required class="form-select" name="brand" [(ngModel)]="prod.brand">
                                                    <!-- <option desable>{{prod.brandName}}</option> -->
                                                    <option *ngFor="let brand of brands" [value]="brand.id" [selected]="brand.id === prod.brand">{{ brand.brandName }}</option>
                                                </select>
                                            </div>

                                            <div>
                                                <label for="example-password" class="text-gray-800 text-sm font-medium inline-block mb-2">Boycott reasons</label>
                                                <textarea required type="text" id="example-password" [(ngModel)]="prod.reasons" class="form-input" name="reasons" value="{{prod.reasons}}" placeholder="description"></textarea>
                                            </div>

                                            <br>
                                            <div>
                                                <button class="class-form btn-primary" id="example-number" type="submit" [disabled]="!form.valid">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
